<!DOCTYPE html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
            <link href="/css/schmohawks.css" rel="stylesheet"/>
            <meta charset="UTF-8">
            <title>The Schmohawks - "..that band you really liked."</title>
        </head>
        <body>
            <nav class="navbar navbar-schmo navbar-fixed-top">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        @*@Html.ActionLink("<p>THE</p><p>SCHMOHAWKS</p>", "Index", new {controller="Home"})*@
                        <a href="/"><p>THE SCHMOHAWKS</p></a>
                    </div>
                    <button class="btn btn-default navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-chevron-down"></span></button>
                </div>
                <div class="navbar-inner">
                    <div class="navbar-collapse collapse">
                        <ul class="nav">
                        </ul>
                    </div>    
                </div> 
            </nav>    
            
            @RenderBody()
            
            <footer class="footer footer-inner">
                    <ul>
                        <li><a href="mailto:booking@theschmohawks.com"><i class="fa fa-envelope fa-2x"></i></a></li>
                        <li><a href="http://youtu.be/54Bh6CIRGI0" target="_blank"><i class="fa fa-youtube-play fa-2x"></i></a></li>
                        <li><a href="http://instagram.com/theschmohawks" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                        <li><a href="http://twitter.com/theschmohawks" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li><a href="http://www.facebook.com/theschmohawks" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                    </ul>
            </footer>

            <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous">
            </script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </body>
</html>
