@model Schmohawks.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
}


<div id="schmo-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active" id="image1">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
        </div>
        <div class="item" id="image2">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
        </div>
    </div>
</div><!-- /.carousel -->

<div class="schmo-container">
    <h1>ABOUT THE BAND</h1>
    <p>
        The Schmohawks is a 5-piece cover band specializing in an immensely diverse range of music, songs 
        you know and love spanning 7 decades. The Schmohawks have played hundreds of events across the southeast: 
        weddings, fundraisers, corporate events, private parties...you name it. Contact us to start planning your 
        next event.
    </p> 
</div>    

<div class="schmo-container">
    <h1>UPCOMING SHOWS</h1>
    @for (var i = 0; i < Model.Gigs.Count; i++)
    {
        <div class="schmo-gig-container">
            @Html.DisplayFor(model => model.Gigs[i])
        </div>
        <hr/>
    }
</div>

<div class="schmo-container">
    <h1>BOOK THE BAND</h1>
    <p>For booking information, e-mail us at <a href="mailto:booking@theschmohawks.com">booking@theschmohawks.com</a>.</p>    
</div>





